:root {
  --serif: 'Alike Angular', Georgia, serif;
  --sans-serif: 'Work Sans', sans-serif;
  --mono: 'Hack', mono;
  --max-width: 36rem;
  --font-small: 0.8rem;
  --font-med: 0.9rem;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: rgb(65, 92, 115);
  --white: #fff;
  --black: #000;
  --charcoal: #383f51;
  --azureish-white: #dce2f2;
  --independence: #3b4c75;
  --pastel-blue: #afb9d1;
  --manatee: #9da1aa;
  --img-opacity: 1;
  --text-color: var(--charcoal);
  --text-bright: var(--charcoal);
  --background-body: var(--azureish-white);
  --border: var(--charcoal);
  --selection: var(--manatee);
  --links: var(--independence);
}

@media (prefers-color-scheme: dark) {
  :root {
    --serif: 'Alike Angular', Georgia, serif;
    --sans-serif: 'Work Sans', sans-serif;
    --mono: Hack, mono;
    --max-width: 36rem;
    --font-small: 0.8rem;
    --font-med: 0.9rem;
    --scrollbar-thumb: var(--button-hover);
    --scrollbar-thumb-hover: rgb(65, 92, 115);
    --white: #fff;
    --black: #000;
    --charcoal: #383f51;
    --azureish-white: #dce2f2;
    --independence: #3b4c75;
    --pastel-blue: #afb9d1;
    --manatee: #9da1aa;
    --img-opacity: 0.8;
    --text-color: var(--azureish-white);
    --text-bright: var(--azureish-white);
    --background-body: var(--charcoal);
    --border: var(--azureish-white);
    --selection: var(--manatee);
    --links: var(--pastel-blue);
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: greyscale;
  font-feature-settings: 'ss02';
}

html {
  font-size: 18px;
}
@media (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0 1rem;
  font-family: var(--sans-serif);
  color: var(--text-color);
  background: var(--background-body);
  line-height: 1.4;
}

main {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
hr,
pre,
footer {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--serif);
}

h1 {
  font-size: 1.7rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

a {
  color: var(--links);
}

hr {
  border-color: var(--border);
}

a:hover,
a:focus {
  color: var(--text-color);
  text-decoration-thickness: 2px;
}

.heading-with-skip-link {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.heading-with-skip-link * {
  margin: 1rem 0;
  display: inline;
}

.heading-with-skip-link a {
  text-decoration: none;
  color: var(--text-color);
  width: 2rem;
}

.heading-with-skip-link a:hover,
.heading-with-skip-link a:focus {
  color: var(--links);
}

main > header {
  padding: 0.25rem 0.5rem;
}

main > header nav {
  margin: 1rem auto;
}

code,
samp {
  background: var(--background);
  font-family: var(--mono);
  color: var(--code);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 0.9rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

pre {
  font-family: var(--mono);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 6px;
  max-width: var(--max-width);
  overflow: auto;
  word-wrap: normal;
  font-size: 0.9rem;
}

img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  opacity: var(--img-opacity);
  background-color: var(--black);
}

img:not([alt]) {
  border: 2px solid red;
}

figure {
  max-width: 100%;
  margin: 5rem auto;
}

figure figcaption {
  margin-top: 0.25rem;
}

footer {
  margin: 3rem auto;
  font-size: var(--font-small);
  line-height: 1.6;
}
footer a {
  display: inline-block;
  margin-right: 0.5em;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-moz-selection {
  background-color: var(--selection);
}

::selection {
  background-color: var(--selection);
}

.active > a {
  color: var(--text-bright);
  text-decoration-thickness: 2px;
}

.nowrap {
  white-space: nowrap;
}

.overflow-x-auto {
  overflow-x: auto;
}

.pl-2 {
  padding-left: 0.5rem;
}

.text-right {
  text-align: right;
}
