{% extends "base.html" %}

{% block meta_description %}404 Page Not Found{% endblock %}

{% block title %}404 Page Not Found &middot; {{ config.title }}{% endblock %}

{% block header %}
<h1>404</h1>
<h2>Page Not Found</h2>
{% endblock %}

{% block main %}
<p>Go back <a href="{{ config.base_url }}">home</a></p>
{% endblock %}