<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta_description %}
    <meta name="description" content="{{ config.description }}">
    {% endblock %}
    <title>{% block title %}{{ section.title }} &middot; {{ config.title }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Alike+Angular&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
    <link rel="stylesheet" href="{{ get_url(path="screen.css") }}">
    <link rel="apple-touch-icon-precomposed" href="{{ get_url(path="images/apple-touch-icon-precomposed-300.png") }}">
    <link rel="icon" href="{{ get_url(path="images/favicon.ico") }}">

</head>

<body>
    <main>
        <header>
            {% block header %}
            <div class="heading-with-skip-link">
                <h1>{{ config.title }}</h1>
                <a aria-label="Go to menu" href="#menu">
                    <h1 class="pl-2">&darr;</h1>
                </a>
            </div>
            <h2>{{ config.description -}}</h2>
            {% endblock %}
        </header>
        {% block main %}
        {{ section.content | safe }}
        {% endblock %}
    </main>
    {% if current_path %}
    {% include "menu.html" %}
    {% endif %}
    <footer>
        <a href=" #">Back to top</a>
        <a href="mailto:me@addisoncrump.info">Email</a>
        <a href="{{ get_url(path="rss.xml") }}">RSS</a>
    </footer>
</body>

</html>