<nav>
    <hr id="menu">
    <div class="heading-with-skip-link">
        <h3>Go Even Further Beyond</h3>
        <a class="text-right" aria-label="Back to top" href="#">
            <h3 class="pl-2">&uarr;</h3>
        </a>
    </div>

    <ul class="nowrap overflow-x-auto">
        <li><a href="{{ config.base_url }}">Introduction</a></li>
        {% set index = get_section(path="_index.md") %}
        {% for s in index.subsections %}
        {% set subsection = get_section(path=s) %}
        <li {% if current_path == subsection.path %}class="active" {% endif %}>
            {% set chapter_num = loop.index %}
            <a href="{{ subsection.permalink }}">
                {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.</strong>{% endif %}
                {{ subsection.title }}
            </a>
            {% if subsection.subsections %}
            <ul>
                {% for s in subsection.subsections %}
                {% set subsection = get_section(path=s) %}
                <li {% if current_path == subsection.path %}class="active" {% endif %}>
                    <a href="{{ subsection.permalink }}">
                        {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.</strong>{% endif %}
                        {{ subsection.title }}
                    </a>
                    {% if subsection.subsections %}
                    <ul>
                        {% for s in subsection.subsections %}
                        {% set subsection = get_section(path=s) %}
                        <li {% if current_path == subsection.path %}class="active" {% endif %}>
                            <a href="{{ subsection.permalink }}">
                                {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.</strong>{% endif %}
                                {{ subsection.title }}
                            </a>
                            {% if subsection.subsections %}
                            <ul>
                                {% for s in subsection.subsections %}
                                {% set subsection = get_section(path=s) %}
                                <li {% if current_path == subsection.path %}class="active" {% endif %}>
                                    <a href="{{ subsection.permalink }}">
                                        {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.</strong>{% endif %}
                                        {{ subsection.title }}
                                    </a>
                                    {% if subsection.subsections %}
                                    <ul>
                                        {% for s in subsection.subsections %}
                                        {% set subsection = get_section(path=s) %}
                                        <li {% if current_path == subsection.path %}class="active" {% endif %}>
                                            <a href="{{ subsection.permalink }}">
                                                {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.</strong>{% endif %}
                                                {{ subsection.title }}
                                            </a>
                                            <!-- BASE CASE BEGIN -->
                                            {% if subsection.subsections %}
                                            <ul>
                                                {% for s in subsection.subsections %}
                                                {% set subsection = get_section(path=s) %}
                                                <li {% if current_path == subsection.path %}class="active" {% endif %}>
                                                    <a href="{{ subsection.permalink }}">
                                                        {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.</strong>{% endif %}
                                                        {{ subsection.title }}
                                                    </a>
                                                    {% if subsection.pages %}
                                                    <ul>
                                                        {% for page in subsection.pages %}
                                                        <li {% if current_path == page.path %}class="active"
                                                            {% endif %}>
                                                            <a href="{{ page.permalink }}">
                                                                {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.{{ loop.index }}.</strong>{% endif %}
                                                                {{ page.title }}
                                                            </a>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                            {% if subsection.pages %}
                                            <ul>
                                                {% for page in subsection.pages %}
                                                <li {% if current_path == page.path %}class="active" {% endif %}>
                                                    <a href="{{ page.permalink }}">
                                                        {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.{{ loop.index }}.</strong>{% endif %}
                                                        {{ page.title }}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                            <!-- BASE CASE END -->
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {% if subsection.pages %}
                                    <ul>
                                        {% for page in subsection.pages %}
                                        <li {% if current_path == page.path %}class="active" {% endif %}>
                                            <a href="{{ page.permalink }}">
                                                {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.{{ loop.index }}.</strong>{% endif %}
                                                {{ page.title }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if subsection.pages %}
                            <ul>
                                {% for page in subsection.pages %}
                                <li {% if current_path == page.path %}class="active" {% endif %}>
                                    <a href="{{ page.permalink }}">
                                        {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.{{ loop.index }}.</strong>{% endif %}
                                        {{ page.title }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if subsection.pages %}
                    <ul>
                        {% for page in subsection.pages %}
                        <li {% if current_path == page.path %}class="active" {% endif %}>
                            <a href="{{ page.permalink }}">
                                {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.{{ loop.index }}.</strong>{% endif %}
                                {{ page.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if subsection.pages %}
            <ul>
                {% for page in subsection.pages %}
                <li {% if current_path == page.path %}class="active" {% endif %}>
                    <a href="{{ page.permalink }}">
                        {% if config.extra.book_number_chapters %}<strong>{{ chapter_num }}.{{ loop.index }}.</strong>{% endif %}
                        {{ page.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>