{% extends "base.html" %}

{% if page.description %}
{% block meta_description %}
<meta name="description" content="{{ page.description }}">{% endblock %}
{% endif %}

{% block title %}{{ page.title }} &middot; {{ config.title }}{% endblock %}

{% block header %}
<div class="heading-with-skip-link">
    <h1>{{ page.title }}</h1>
    <a aria-label="Go to menu" href="#menu">
        <h1 class="pl-2">&darr;</h1>
    </a>
</div>
{% if page.description %}<h2>{{ page.description }}</h2>{% endif %}
{% endblock %}

{% block main %}
{{ page.content | safe }}
{% endblock %}