{% extends "base.html" %}

{% if section.description %}
{% block meta_description %}
<meta name="description" content="{{ section.description }}">{% endblock %}
{% endif %}

{% block header %}
<div class="heading-with-skip-link">
    <h1>{{ section.title }}</h1>
    <a aria-label="Go to menu" href="#menu">
        <h1 class="pl-2">&darr;</h1>
    </a>
</div>
{% if section.description %}<h2>{{ section.description }}</h2>{% endif %}
{% endblock %}